<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Oferta educativa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

    <div align="center">
        <ion-card>
            <ion-card-header style="align-self: center">
                <ion-img src="assets/img/informatica.png" class="image"></ion-img>
            </ion-card-header>

            <ion-card-title>
                Misión
            </ion-card-title>
            <ion-card-content>
                <ion-text>
                    La División de ingeniería Informática tiene como Misión, formar profesionales competentes en el diseño, desarrollo, implementación y administración de proyectos informáticos con un enfoque tecnológico y de calidad; ofreciendo soluciones innovadoras, integrales y de vanguardia para las organizaciones, con el compromiso sustentable de su entorno y desempeñándose con actitud ética, emprendedora y de liderazgo.
                </ion-text>
                <ion-item-divider></ion-item-divider>
                <ion-card-title>
                    Objetivo general
                </ion-card-title>
                <ion-card-content>
                <ion-text>
                    Formar profesionales competentes en el diseño, desarrollo, implementación y administración de servicios informáticos y gestión de proyectos con una visión sistémica, tecnológica y estratégica, ofreciendo soluciones innovadoras e integrales a las organizaciones, de acuerdo con las necesidades globales, actuales y emergentes, comprometidos con su entorno, desempeñándose con actitud ética, emprendedora y de liderazgo.
                </ion-text>
                </ion-card-content>
            </ion-card-content>
        </ion-card>
    </div>



    <div align="center">
        <ion-card>
            <ion-card-header style="align-self: center">
                <ion-img src="assets/icon/company.svg" class="image"></ion-img>
                <ion-card-title>Conocimientos</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <div align="center">

                    <ion-item-group>
                        <ion-list>
                            <ion-item>Manejo básico de una computadora</ion-item>
                            <ion-item>Uso básico de aplicaciones de oficina</ion-item>
                            <ion-item>Conceptos básicos de geometría y trigonometría</ion-item>
                            <ion-item>Conceptos básicos de operaciones algebraicas y ecuaciones</ion-item>
                        </ion-list>
                    </ion-item-group>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>
